<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${book.getName()}]]</title>
    <link rel="stylesheet" th:href="@{/e-library/styles.css}"/>
</head>
<body>
<h3><a th:href="@{/e-library}">Домой</a></h3>
<hr/>
<div class="info">
    <p th:inline="text">[[${book.getName()}]]</p>
    <p>Автор: [[${book.getAuthor()}]]</p>
    <p>Год издания: [[${book.getYearPublishing()}]]</p>
    <a th:href="@{{id}/edit(id=${book.getId()})}">Изменить данные книги</a>
    <form th:method="DELETE" th:action="@{{id}/(id=${book.getId()})}">
        <input type="submit" value="Удалить книгу">
    </form>
</div>
<div th:if="${book.getOwner() == null}">
    <p>Книга свободна. Кому назначить ее?</p>
    <form th:method="PATCH" th:action="@{/e-library/books/{id}/assign/(id=${book.getId()})}">
        <label for="why">Выберите человека:</label>
        <select id="why" th:field="*{id}" th:object="${person}">
            <option th:each="person : ${persons}"
                    th:value="${person.getId()}"
                    th:text="${person.getSurname()} + ' ' + ${person.getName()} + ' ' + ${person.getMiddleName()}"/>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>
<div th:if="${book.getOwner() != null}">
    <p>Книга сейчас у [[${owner.getSurname()}]] [[${owner.getName()}]]
        [[${owner.getMiddleName()}]]</p>
    <form th:method="PATCH" th:action="@{/e-library/books/{id}/release/(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>
</body>
</html>