<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link rel="stylesheet" th:href="@{styles.css}"/>
    <script type="text/javascript" th:src="@{books.js}" defer></script>
</head>
<body>
<a th:href="@{books/search}">Найти книгу</a>
<hr/>
<a th:href="@{books/new}">Добавить книгу</a>
<hr/>
<h3><a th:href="@{/e-library}">Домой</a></h3>
<hr/>
<form th:method="GET" th:action="@{books}">
    <input name="decs" type="checkbox" id="toggle-button" class="toggle-button" th:checked="${decs}">
    <label for="toggle-button" class="toggle-text">Сортировать год [[${decs} ? 'по возрастанию' : 'по
        убыванию']]</label>
</form>
<div th:each="book : ${books}">
    <a th:href="@{books/{id}(id=${book.getId()})}">[[${book.getName()}]] - [[${book.getAuthor()}]],
        [[${book.getYearPublishing()}]]</a>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <a th:href="@{books(pageNumber=${page - 1})}">&laquo;</a>
        <a th:class="${i == page} ? active : ''" th:href="@{books(pageNumber=${i})}"
           th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}" th:text="${i + 1}"></a>
        <a th:href="@{books(pageNumber=${page + 1})}">&raquo;</a>
    </ul>
</nav>
</body>
</html>