<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${book.getName()}]]</title>
    <link rel="stylesheet" th:href="@{/e-library/styles.css}"/>
</head>
<body>
<h3><a th:href="@{/e-library}">Домой</a></h3>
<hr/>
<div class="info">
    <p th:inline="text">[[${book.getName()}]]</p>
    <p>Автор: [[${book.getAuthor()}]]</p>
    <p>Год издания: [[${book.getYearPublishing()}]]</p>
    <a th:href="@{{id}/edit(id=${book.getId()})}">Изменить данные книги</a>
    <form th:method="DELETE" th:action="@{{id}/(id=${book.getId()})}">
        <input type="submit" value="Удалить книгу">
    </form>
</div>
<div>
    <p th:if="${book.getPersonId() == null}">Книга свободна. Кому назначить ее?</p>
    <p th:if="${book.getPersonId() != null}">Книга сейчас у [[${person.getSurname()}]] [[${person.getName()}]]
        [[${person.getMiddleName()}]]</p>
    <form th:method="PATCH" th:action="@{/e-library/books/{id}/(id=${book.getId()})}" th:object="${book}">
        <input type="hidden" th:field="*{name}" id="name"/>
        <input type="hidden" th:field="*{author}" id="author"/>
        <input type="hidden" th:field="*{yearPublishing}" id="yearPublishing"/>
        <span th:if="${book.getPersonId() == null}">Выберите человека:</span>
        <select th:if="${book.getPersonId() == null}" th:field="*{personId}">
            <option th:each="person : ${persons}"
                    th:value="${person.getId()}"
                    th:text="${person.getSurname()} + ' ' + ${person.getName()} + ' ' + ${person.getMiddleName()}"/>
        </select>
        <select th:if="${book.getPersonId() != null}" hidden th:field="*{personId}">
            <option selected="selected" th:value="${null}"></option>
        </select>

        <input type="submit" th:value="${book.getPersonId() == null ? 'Назначить книгу' : 'Освободить книгу'}">
    </form>
</div>
</body>
</html>