<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить читателя</title>
</head>
<body>
<h3><a th:href="@{/e-library}">Домой</a></h3>
<hr/>
<form th:method="POST" th:action="@{new}" th:object="${book}">
    <label for="name">Введите название книги:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <span style="color:red" class="validationError" th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">name Error</span>
    <br/>
    <label for="author">Введите ФИО автора:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <span style="color:red" class="validationError" th:if="${#fields.hasErrors('author')}"
          th:errors="*{author}">author Error</span>
    <br/>
    <label for="yearPublishing">Введите год издания:</label>
    <input type="date" th:field="*{yearPublishing}" id="yearPublishing"/>
    <span style="color:red" class="validationError" th:if="${#fields.hasErrors('yearPublishing')}"
          th:errors="*{yearPublishing}">yearPublishing Error</span>
    <br/>

    <input type="submit" value="Создать книгу"/>
</form>
</body>
</html>