.info {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 4%;
    align-items: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}