<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
    <link rel="stylesheet" th:href="@{styles.css}"/>
</head>
<body>
<a th:href="@{persons/new}">Добавить человека</a>
<hr/>
<h3><a th:href="@{/e-library}">Домой</a></h3>
<hr/>
<div th:each="person : ${persons}">
    <a th:href="@{persons/{id}(id=${person.getId()})}">[[${person.getSurname()}]] [[${person.getName()}]]
        [[${person.getMiddleName()}]], [[${person.getBirthday()}]]</a>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <a th:href="@{persons(pageNumber=${page - 1})}">&laquo;</a>
        <a th:class="${i == page} ? active : ''" th:href="@{persons(pageNumber=${i})}"
           th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}" th:text="${i + 1}"></a>
        <a th:href="@{persons(pageNumber=${page + 1})}">&raquo;</a>
    </ul>
</nav>
</body>
</html>